* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::selection {
  background: black;
  color: white;
}

.row {
  display: flex;
}


.center {
  text-align: center;
}

.left {
  text-align: left;
}